[submodule "erasure/longhair"]
	path = erasure/longhair
	url = git://github.com/NebulousLabs/longhair.git
[submodule "siacrypto/libsodium"]
	path = siacrypto/libsodium
	url = git://github.com/NebulousLabs/libsodium.git
