[submodule "erasure/longhair"]
	path = erasure/longhair
	url = git://github.com/NebulousLabs/longhair.git
[submodule "src/siacrypto/libsodium"]
	path = src/siacrypto/libsodium
	url = git://github.com/NebulousLabs/libsodium.git
